{% extends 'base.html.twig' %}

{% block title %}Hello FurnitureController!{% endblock %}

{% block body %}
    <div class="container">
       <h1> {{ product.name }}</h1>
       {% if product.image %}
         <img src="{{ asset('images/' ~ product.image )}}" alt="image">
       {% else %}
          <h2> No image available</h2>
       {% endif %}
       <a href="{{ path('furniture.products')}}" type="button">Back to products</a>

    </div>
{% endblock %}
